{{#extend "layout"}}
{{#content "title"}}タブ切り替え{{/content}}
{{#content "body"}}

<section class="section">
  <div class="container grid-xl">
    <div class="tab-wrap">
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label"
        for="TAB-01">ビルオフィス</label>
      <div class="tab-content">
        <div class="col_3">
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>


        </div>
      </div>
      <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label"
        for="TAB-02">マンション・アパート</label>
      <div class="tab-content">
        <div class="col_3">
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>


        </div>
      </div>
      <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">戸建住宅</label>
      <div class="tab-content">
        <div class="col_3">
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>

          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img01.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img02.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
          <div class="ef-fadeup">
            <a class="case-box" href="#">
              <figure class="figure">
                <img class="img-responsive" src="{{ site.root }}assets/images/case/img03.jpg">
                <figcaption class="figure-caption">Ｉ様邸 改修工事</figcaption>
                <figcaption class="figure-caption">2019年完成</figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{/content}}
{{/extend}}