<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }}</title>
 {{#block "css"}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.root }}assets/css/icon.css">
  <link rel="stylesheet" href="{{ site.root }}assets/css/custom.css">
  <link rel="stylesheet" href="{{ site.root }}assets/css/develop.css">
  <link href="{{ site.root }}assets/css/scrolling-nav.css" rel="stylesheet">

 {{/block}}
 {{> head-meta }}
</head>
<body id="top">

{{#block "header"}}
{{> header }}
{{/block}}

    {{> sec-01 }}
    {{> sec-02 }}
    {{> sec-03 }}

{{#block "body"}}
{{/block}}

{{#block "footer"}}
{{> footer }}
{{/block}}

{{#block "js"}}
    <script src="{{ site.root }}assets/js/jquery.min.js"></script>
    <script src="{{ site.root }}assets/js/common.js"></script>
    <script src="{{ site.root }}assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.root }}assets/js/jquery.easing.min.js"></script>
    <script src="{{ site.root }}assets/js/scrolling-nav.js"></script>
{{/block}}

</body>
</html>
