<section class="header fixed">
  <div class="container hide-md">
    <header class="header-pc">
  <div class="header-logo"><a href="index.html"><img src="{{ site.root }}assets/images/base/logo.png" alt=""></a></div>
  <div class="gnav">
    <a href="layout.html" class="btn btn-link">会社概要</a>
    <a href="animation.html" class="btn btn-link">事業内容</a>
    <a href="tab.html" class="btn btn-link">タブ切り替え</a>
    <a href="#" class="btn btn-link">施工実績</a>
    <a href="#" class="btn btn-link">採用情報</a>
  </div>
  </header>
  </div>

<header class="l-header show-md">
    <div class="l-drawer">
      <a href="#" class="l-drawer__logo"><img src="{{ site.root }}assets/images/base/logo.svg" alt="パン屋さんCheerUp!"></a><!-- <div class="l-drawer__ttl">パン屋さん CheerUp!</div>-->
      <div id="nav">
        <div class="mnav">
          <ul>
            <li><a href="{{ site.root }}index.html" class="mnav__link">
                <span class="item-jp">HOME</span></a>
            </li>
            <li><a href="{{ site.root }}index.html#sec02" class="mnav__link">
                <span class="item-jp">ABOUT</span></a>
            </li>
            <!--li><div class="mnav__link">
            <span class=" item-jp">MENU</span>
                </div>
            <div class="sub-item">
            <a href="{{ site.root }}menu/bagel.html">ベーグル</a>

            </div>
                </li>-->
            <li><a href="{{ site.root }}index.html#sec11" class="mnav__link"><span class="item-jp">SHOP</span></a></li>
            <li><a href="{{ site.root }}index.html#sec12" class="mnav__link"><span class="item-jp">CALENDER</span></a></li>
            <li><a href="{{ site.root }}index.html#sec13" class="mnav__link"><span class="item-jp">ACCESS</span></a></li>
            <li><a href="{{ site.root }}index.html#sec14" class="mnav__link"><span class="item-jp">RECRUIT</span></a></li>
            
          </ul>
        </div>
      </div>
      <div class="sp_menu"><span></span><span></span><span></span></div>
    </div>
  </header>
  
</section>